.gcloudignore
.git
.gitignore
__pycache__/
*.pyc
.pytest_cache
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.env
.venv
db.sqlite3
media/
.DS_Store
staticfiles/